@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: none;
  padding: none;
  font-family: 'Outfit', sans-serif;
  text-decoration: none;
  color: white;
}

body{
  background-color: black;
}

h1, h4, p {
  text-decoration: none;
  color: white;
}

ul{
  list-style-type: none;
}

.btn{
  background-color: yellow;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 12px 32px;
  color: #222;
  border-radius: 1px solid white;
  font-weight: 600;
  cursor: pointer;
}

.btn-light{
  background: transparent;
  color: white;
}

.btn:hover{
  background: rgba(255, 255, 255, 0.2);
  color: white;
  transition: 0.3s;
}

